fastapi
uvicorn[standard]
pydantic
python-multipart

torch
torchvision
open_clip_torch
transformers
Pillow
huggingface-hub
tqdm

qdrant-client
google-genai

scikit-learn
numpy
pandas

gradio
requests

python-dotenv